# ไฟล์การตั้งค่าฐานข้อมูล (สำคัญที่สุด!!!)
# api/db.php

# โฟลเดอร์ที่เก็บรูปภาพที่ผู้ใช้อัปโหลด
/uploads/

# ไฟล์ Log หรือไฟล์ที่ระบบสร้างขึ้นอัตโนมัติ
*.log
*~

# การตั้งค่าของโปรแกรม Code Editor
.vscode/
.idea/

# ไฟล์ของระบบปฏิบัติการ
.DS_Store
Thumbs.db